<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- <link rel="stylesheet" href="/global.css" /> -->
    <title>Dazzle & Co.</title>
  </head>
  <body>
    <%- include('_nav', { info: info, userId: userId }) %>
    <div class="max-w-7xl mx-auto px-4 py-12">
      <div class="flex justify-between items-center mb-10">
        <h1 class="header text-3xl font-normal">Your Profile</h1>
      </div>
      <form method="POST" action="/users/:id/profile">
        <div class="mb-6">
          <label
            for="email"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Email address</label
          >
          <input
            type="text"
            id="disabled-input-2"
            aria-label="disabled input 2"
            class="w-full p-4 border border-gray-200 text-sm focus:outline-none block p-2.5 cursor-not-allowed"
            value="<%= user.email %>"
            disabled
            readonly
          />
        </div>
        <div class="mb-6">
          <label
            for="fullName"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Full Name</label
          >
          <input
            type="fullName"
            id="fullName"
            name="fullName"
            class="w-full p-4 border border-gray-200 text-sm focus:outline-none block p-2.5"
            placeholder="Your Full Name"
          />
        </div>
        <div class="mb-6">
          <label
            for="address"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Address</label
          >

          <textarea
            id="message"
            rows="4"
            name="address"
            class="w-full p-4 border border-gray-200 text-sm focus:outline-none block p-2.5"
            placeholder="Type your full address here..."
          ></textarea>
        </div>

        <button
          type="submit"
          class="w-full bg-black text-white py-3 font-medium text-sm"
        >
          SUBMIT
        </button>
      </form>
    </div>
  </body>
</html>
